@charset "utf-8";

/* 리셋 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    font-family: 'Poppins', sans-serif;
}

ul,
ol,
li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #555;
}